body {
  margin: 0;
  font-family: Merriweather, serif;
  text-align: center;
  background-color: #ffc93c;
}

h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: Merriweather, serif;
  color: #66BFBF;
}

h2 {
  color: #222831;
}

h3 {
  font-family: Montserrat, serif;
  color: #222831;
  font-size: 30px;
}

a {
  color: #222831;

}


.top-container {
  position: relative;
  margin-top: 0;
  height: 90vh;
  width: 100%;
  background-color: #ffc93c;
  font-family: Merienda one, serif;
}

.name-top {
  position: relative;
  top: 25%;
}

.quote-top {
  position: relative;
  top: 20%;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2;
  margin-top: 5vh;
}

.profile {
  background-color: #40a8c4;
  color: #decdc3;
  height: 340px;
  display:block;

}

.hello-text{ display:block;
  color: #decdc3;
  font-size: 2rem;
}

.bio-text{
display: inline-block;
position: relative;
bottom:40px;
width: 300px;

}


.middle-container {
  background-color: #decdc3;
  color: #222831;
  height: auto;
}

.bottom-container {
  background-color: #07689f;
  position: relative;
  text-align: center;
  height: 50px;
  width: 100%;
}

.footer-link {
  display: inline-block;
  position: relative;
  top: 25%;
  bottom: 5%;
  font-size: 1rem;
  padding: 5px;
  color: #decdc3;
  margin: auto 20PX auto;
}


.pablo-quote-top {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 70%;
  font-size: 0.9rem;
  font-family: Merienda One, serif;
}

.top-cloud {
  position: absolute;
  top: 18%;
  left: 70%;
  animation: top-cloud 5s;
  opacity: 70%;
}

.bottom-cloud {
  position: absolute;
  top: 40%;
  left: 20%;
  animation: bottom-cloud 10s;
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 30%;
  height: auto;
  width: 40%;
}

hr {
  border: 10px dotted #EAF6F6;
  border-bottom: 0;
  width: 30%;
}

/*
.sun{
  position: absolute;
  height: 200px;
  left:-130px;
  top:-90px;
  border-radius: 50%
}
*/
.photo {
  border-radius: 50%;
  position: relative;
  height: 170px;
  width: auto;
  margin: 10px;
  top:30px;
}

.pc-photo {
  border-radius: 50%;
  position: relative;
  height: auto;
  width: 160px;
  float: left;
  margin-right: 30px;
}

.chillies-photo {
  position: relative;
  height: auto;
  width: 160px;
  float: right;
  margin-left: 30px;
  text-align: right;
}

.learning:hover {
  color: #ffc93c;
}

.donate-button {
  display: inline-block;
  position: relative;
  border: 7px solid #042f66;
  height: 160px;
  width: auto;
  border-radius: 50%;
}

.donate-button:hover {
  border: 7px solid #ffc93c;
}

.coffee {
  font-family: Merienda one, serif;
}

.coffee:hover {
  color: #ffc93c;
}

.donate-btn {
  padding: 30px;
}

.trademark-bottom {
  display: inline-block;
  font-size: 1rem;
}

.skill-row {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.myskils{
  position: relative;
  top:50px;
}
.art-titles {
  color: #042f66;
  font-size: 1.2rem;
}

.text-artistic {
  line-height: 1.7;
}

.currently-div {
  padding: 30px;
}

.contact-me {
  padding: 20px;
}

.contact-btn {
  background: #C7CACF;
  background: linear-gradient(top, #C7CACF, #042f66);
  background: linear-gradient(to bottom, #C7CACF, #042f66);
  border-radius: 30px;
  color: #FFFFFF;
  font-family: Merriweather, serif;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  box-shadow: 1px 1px 20px 0 #C7CACF;
  border: solid #C7CACF 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-btn:hover {
  background: #042f66;
  background: linear-gradient(top, #042f66, #FFFFFF);
  background: linear-gradient(to bottom, #042f66, #FFFFFF);
  border-radius: 30px;
  text-decoration: none;
}



 /* MEDIA QUERIES */
 @keyframes top-cloud{

  0%{
    margin-left:-100px;
  }
  100%{
    margin-right:0;
  }
}@keyframes bottom-cloud{

 0%{
   margin-left:-100px;
 }
 100%{
   margin-right:0;
 }
}
